  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
    .title{
      display: grid;
      place-items: center;
      height: 150px;
      font-size: 30px;
      width: auto;
      color: yellow;
      box-shadow: 0 0 20px 9px red;
      border: 2px dashed red;
      margin-bottom: 62px;
    }

    .main{
      height: 100vh;
      width: 100%;
      background: url(https://techishant.github.io/myweb.github.io/calcimg.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      display: grid;
      place-items: center;
    }

    .button{
      font-size: 60px;
      background-color: white;
      color: black;
      border: 4px inline black ;
      width: 130px;
      height: 100px;
    }

    input[type="text"]{
      font-size: 60px;
      background-color: #FFD992;
      border: 4px inline black;
      width: 100%;
      height: 100px;
    }

    #equal{
      font-size: 60px;
      background-color: #FF7700;
      color: black;
      border:4px inline black;
      width: 130px;
      height: 100px;
    }

    table{
      height: 200px;
      width: 200px;
      border: groove red 8px;
      background-color: white;
      position: cover;
      box-shadow: 0 0 20px 9px red;
    }

    .content{
      height: 800px;
      width: 620px;
      box-shadow: 0 0 20px 9px red;
      border-radius: 25px;
      background: black;
      overflow: hidden;
    }

    .table{
      margin-top: 50px;
      margin: 0;
      padding: 0;
    }
    .main_calc{
      display: grid;
      place-items: center;
    }
    
    .preloder_container{
      height: 100vh;
      width: 100%;
      background-color: #34495e;
      display: grid;
      place-items: center;
      position: absolute;
      top: 0;
      left: 0;
    }
    .circle{
      
      background-color: #fff;
      height: 80px;
      width: 80px;
      border: 8px solid #fff;
      background: transparent;
      border-top: 8px solid #f1c40f;
      border-radius: 50%;
      animation: loading 1s linear infinite;
    }
    @keyframes loading{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
@media screen and (max-width:500px){
  .content{
    height: 400px;
    width: 310px;
  }
  .title{
      display: grid;
      place-items: center;
      height: 75px;
      font-size: 15px;
      width: auto;
      color: yellow;
      box-shadow: 0 0 20px 9px red;
      border: 2px dashed red;
      margin-bottom: 62px;
    }

    .button{
      font-size: 30px;
      background-color: white;
      color: black;
      border: 2px inline black ;
      width: 65px;
      height: 100px;
    }

    input[type="text"]{
      font-size: 30px;
      background-color: #FFD992;
      border: 2px inline black;
      width: 100%;
      height: 50px;
    }

    #equal{
      font-size: 30px;
      background-color: #FF7700;
      color: black;
      border:2px inline black;
      width: 65px;
      height: 50px;
    }

    table{
      height: 100px;
      width: 100px;
      border: groove red 4px;
      
      box-shadow: 0 0 10px 4.5px red;
    }
}